body {
	background-color: #ffffff;
//	font-family: helvetica, arial, sans-serif;
	font-family: Tahoma, lucida, helvetica, arial, sans-serif;
	font-size: 10px;
	color: #666666;
}
a {
//	color: #888888;
	color: #5555aa;
	text-decoration: none;
}
a:hover {
//	color: #5555aa;
	color: #ff9400;
	text-decoration: underline;
}
img {
}
#page {
	position: absolute;
	top: 0px;
	width: auto;
	height: auto;
	visibility: visible;
	background-color: #ffffff;
	border: 0px;
	padding: 20px;
}
#menu {
	border: 0px;
	height: 40px;
	font-size: 11px;
	font-weight: bold;
	color: #666666;
}
#dir {
	background-color: #FFFFFF;
	border: 0px;
	border: 1px dashed #999999;
	padding: 10px;
}
#picture img {
	border: 1px solid #000000;
}
#gallery {
	padding: 10px;
	text-align: center;
}
td {
	font-family: Tahoma, lucida, helvetica, arial, sans-serif;
	font-size: 10px;
}
h1, h2, h3, h4, h5 {
	text-transform: capitalize;
	font-weight: bold;
}
#folder img {
	border-width: 0px;
	width: 48px;
	height: 48px;
}
#folder {
	width: 100px;
	height: 75px;
	text-align: center;
}
.info {
	background-color: #f0f0f0;
	font-color: #333333;
	padding: 5px;
	margin: 5px;
	border: 1px dashed #666666;
}
.hest {
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
}
.path {
	font-size: 12px;
	font-weight: bold;
}
.nav img {
//	border: 1px solid #000000;
}
