body {
	background-color: #ffffff;
    color: #aaaaaa;
	font-family: Verdana, Lucida, Arial;
	font-size: 10px;
	margin-left: 10px;
	margin-top: 10px;
	text-align: center;
}
td {
	font-size: 10px;
}
table {
	margin-left: auto;
	margin-right: auto;
}
#title {
    font-size: 13px;
    text-align: left;
    font-weight: bold;
}
#menu {
	font-size: 13px;
	text-align: right;
	height: 30px;
	margin-right: 20px;
}
#directory {
	background-color: #fafafa;
	border: 6px solid #dddddd;
	padding: 20px;
	text-align: left;
	top: 0px;
}
.folder {
	float: left;
	height: 100px;
	padding: 2px;
	text-align: center;
	width: 120px;
}
#picture {
	text-align: center;
}
#picture img {
	border: 6px solid #dddddd;
}
a {
	color: #cccc00;
}
a img {
	border: 3px solid #cccc00;
}
a:hover {
	color: #cc9900;
}
a:hover img {
	border: 3px solid #cc9900;
}
.folder img {
	border: 0px;
}
.folder a:hover img {
	border: 0px;
}
#gallery {
	margin-top: 50px;
}
#comment {
    color: #666666;
    border: 3px solid #aaaaaa;
    background-color: #fafafa;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 5px;
}
